<center>

        
<body>
<h1>El autito se salio del terreno</h1>
<form method='post' action='/Autito/parametros'>
        <input type="hidden" name ="nombreJugador" value = <%=@nombreJugador%> >
        <input type="submit" name="volver" value="volver">
        <br>
</form>

</body>
</center>