<center>
        <h1>Bienvenido a la APP</h1>

<body>
        <form method='post' action = '/CreandoTerreno'>
        Nombre <input type ='text' name="NombreUsuario" placeholder = "nombre">
        <input type ='submit' value = 'Iniciar' name='BotonIniciar'>
        </form>
</body>
</center>

