<center>

        
<body>
<h1>Asegurate de haber llenado con datos validos todos los campos</h1>
<form method='post' action='/TerrenoCreado'>
        <input type="hidden" name ="nombreJugador" value = <%=@nombreJugador%> >
        <input type="submit" name="volver" value="volver">
        <br>
</form>

</body>
</center>